<div class="card text-center" id="home">
  <div class="card-header">
    <h3 style="text-align: center">Projects</h3>
  </div>
  <table class="table" style="width: 600px">
    <thead>
    <tr>
      <th>Qualification</th>
      <th>Project Title</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="font-weight:bold">Diploma Enigineering</td>
      <td style="font-weight:bold">Web-Based Claim Processing System</td>
      <td style="font-weight:bold">Front-End Development</td>
    </tr>
    <tr>
      <td style="font-weight:bold">B.E</td>
      <td style="font-weight:bold">One Place Database For Faculty & Students</td>
      <td style="font-weight:bold">Front-End Development</td>
    </tr>
    <tr>
      <td style="font-weight:bold">Internship</td>
      <td style="font-weight:bold">Shopping Demo</td>
      <td style="font-weight:bold">Angular Development</td>
    </tr>
    </tbody>
  </table>
  <span><a style="text-align: center" href="https://gitlab.com/divyesh.smartsense/shoppingdemo">Git Project Link</a></span>
</div>
