<div class="card text-center" id="home">
  <div class="card-header">
    <h3 style="text-align: center">Educations</h3>
  </div>
  <table class="table" style="width: 600px">
    <tbody>
    <tr>
      <td style="font-weight:bold">B.E(Information Technology) - Gujarat Technological University
        L.J Institute of Engineering and Technology
        Ahmedabad Gujarat(2015-2018)</td>
      <td style="font-weight:bold">CGPA:8.24 <br/> CPI:7.77</td>
      <td></td>
    </tr>
    <tr>
      <td style="font-weight:bold">Diploma Engineering(Information Technology) - G.T.U
        G.P.Ahmedabad (2012-2015)</td>
      <td style="font-weight:bold">CGPA:8.16 <br/> CPI:7.84</td>
      <td></td>
    </tr>
    <tr>
      <td style="font-weight:bold">10<sup>th</sup>G.S.E.B(March-2010)</td>
      <td style="font-weight:bold">74.15%</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
