<div class="card text-center" id="home">
  <div class="card-header">
    <h3 style="text-align: center">Skills</h3>
  </div>
  <table class="table" style="width: 600px">
    <tbody>
    <tr>
      <td style="font-weight:bold">C</td>
      <td style="font-weight:bold">C++</td>
      <td style="font-weight:bold">Java</td>
    </tr>
    <tr>
      <td style="font-weight:bold">HTML5</td>
      <td style="font-weight:bold">CSS3</td>
      <td style="font-weight:bold">Javascript</td>
    </tr>
    <tr>
      <td style="font-weight:bold">Jquery</td>
      <td style="font-weight:bold">ECMA Script</td>
      <td style="font-weight:bold">Typescript</td>
    </tr>
    <tr>
      <td style="font-weight:bold">Angular</td>
      <td style="font-weight:bold">Angular Material</td>
      <td style="font-weight:bold">Bootstrap</td>
    </tr>
    <tr>
      <td style="font-weight:bold">Git</td>
      <td style="font-weight:bold">GitHub,GitLab</td>
      <td style="font-weight:bold">Postman</td>
    </tr>
    </tbody>
  </table>
</div>
