<div class="card text-center" id="home">
    <div class="card-header">
      <h3 style="text-align: center">Projects</h3>
    </div>
    <table class="table" style="width: 600px">
      <tbody>
      <tr>
        <td style="font-weight:bold">Name:</td>
        <td style="font-weight:bold">Divyesh Dharsinh Dharjiya</td>
        <td></td>
      </tr>
      <tr>
        <td style="font-weight:bold">D.O.B:</td>
        <td style="font-weight:bold">3<sup>rd</sup>   February,1995</td>
        <td></td>
      </tr>
      <tr>
        <td style="font-weight:bold">Languages:</td>
        <td style="font-weight:bold">Gujarati,Hindi,English</td>
        <td></td>
      </tr>
      <tr>
        <td style="font-weight:bold">Hobies:</td>
        <td style="font-weight:bold">Cricket,Coding,Reading Blogs,Video Editing
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="font-weight:bold">Address:</td>
        <td style="font-weight:bold">B/8, Gauravpark Society,Nr. Shivdarshan Society,Bh.Aashish
          Cinema,Odhav,Ahmedabad,Gujarat - 382415
        </td>
        <td></td>
      </tr>
      <tr><td></td><td></td><td></td></tr>
      </tbody>
    </table>
  </div>
