@import "~bootstrap/dist/css/bootstrap.css";
body{
  background-image: url('https://images.wallpaperscraft.com/image/parking_underground_marking_118795_3840x2160.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
